<div class="container">
  <div class="hero-unit">
    <h1>TallyCode</h1>
    <br />
    <p>A community of coders in Tallahassee, doing awesome stuff.</p>
    <p>Contact us on <a href="https://github.com/georules/tallycode">GitHub</a>.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more about this website and who we are &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span4 offset1">
      <h2>Meetups</h2>
      <p>Coding together, sharing ideas, and relaxing with a group of like-minded peers is fun, and much can get done then. We usually meet
      weekly at coffee shops around town, but be sure to check the calendar for the most up-to-date information on when and where.</p>
      <a href="#" class="btn">Find out more &raquo;</a>
    </div>
    <div class="span4 offset2">
      <h2>Social Coding</h2>
      <p>Programming doesn't just happen during the meetups. There are many times when we may get a brilliant idea, and just need to start
      hashing it out before it leaves us. Maybe you get stuck though, or would like to advertise your project, for others to work on with
      you. We tie into both GitHub and a private, members only Git repository for those of you who don't want to pay for GitHub private
      yet don't want your work for everyone to see.</p>
      <a href="#" class="btn">Learn More &raquo;</a>
    </div>
  </div>
</div>